<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>xyz.yplog.simprary.chest.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserAuthFilter</filter-name>
        <filter-class>xyz.yplog.simprary.chest.UserAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/author/create.xhtml</url-pattern>
        <url-pattern>/author/update.xhtml</url-pattern>
        <url-pattern>/author/delete.xhtml</url-pattern>
        <url-pattern>/publisher/create.xhtml</url-pattern>
        <url-pattern>/publisher/update.xhtml</url-pattern>
        <url-pattern>/publisher/delete.xhtml</url-pattern>
        <url-pattern>/book/create.xhtml</url-pattern>
        <url-pattern>/book/update.xhtml</url-pattern>
        <url-pattern>/book/delete.xhtml</url-pattern>
        <url-pattern>/user/list.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthFilter</filter-name>
        <url-pattern>/author/create.xhtml</url-pattern>
        <url-pattern>/author/delete.xhtml</url-pattern>
        <url-pattern>/publisher/create.xhtml</url-pattern>
        <url-pattern>/publisher/delete.xhtml</url-pattern>
        <url-pattern>/book/create.xhtml</url-pattern>
        <url-pattern>/book/delete.xhtml</url-pattern>
        <url-pattern>/user/list.xhtml</url-pattern>
        
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
